

/*banner*/
#header-contact{
  height: 590px;
  background-image: url("../images/pear/shiok-face.jpg");
  background-attachment: fixed;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -80px;

}


/*counter*/


.wrapper-counter {
	margin: 30px auto;
	position: relative;
	padding: 80px  130px;
  background-color: grey;
  margin-right: -15px;
  margin-left: -15px;
  background-image: url("../images/pear/hawker-background-counter.jpg");
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: overlay;
}

.wrapper-counter img{
  margin: auto;
  display: flex;
      width: 120px;
    height: 120px;
}
.counter {
	background-color: #ffffff;
	padding: 20px 0;
	border-radius: 5px;
}
.count-title {
	font-size: 40px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
  color: white;
}
.count-text {
	font-size: 15px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
  color: white;
}
.fa-2x {
	margin: 0 auto;
	float: none;
	display: table;
	color: #4ad1e5;
}

.wrapper h1{
	text-align: center;

}


/*whyus*/
.wrapper{
  margin: 30px auto;
  position: relative;
  padding: 0 60px;
}

#cards{
  height: auto;
  padding: 10px
  width: 100%;

}

#cards img{
	display: block;
	max-width: 100%;

}



/*Our Team*/

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.members{
	margin: auto;
	display: flex;
}

#who{
    padding-top: 20px;
    margin:0px;
    color:rgba(60, 114, 120, 1);
    font-weight: 500;
    text-align: center;
}

#whoinfo {
    padding-top: 10px;
    margin: 0px;
    color: rgba(65, 48, 51, 0.9);
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}
.paddinga{
    padding: 20px 100px;
    margin-top: 0px;
    background-color: white;
}


.line{

	width: 100px;
	height: 2px;
	background-color: #2079df;
	margin-bottom : 40px;
	margin-top: 0px;

}
