#header-contact{height:590px;background-image:url(../images/tour.jpg);background-attachment:fixed;padding-bottom:20px;background-color:rgba(0,0,0,.6);background-blend-mode:overlay;background-position:center;background-size:cover;text-align:center;margin-left:-15px;margin-right:-15px;margin-top:-80px}

.confirmation-card {
  text-align: center;
  padding: 50px;
  border: 1px solid #888;
  margin: 50px;
}

.booking-details-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}
.message {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 14px;
}

@media only screen and (max-width: 768px){
  .banner-title {
    font-size: 24px;
  }
  .confirmation-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    margin: 20px;
  }
}
