@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:300,400,500,700');

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

/*header*/
#header-contact-cuisine{
  height: 590px;
  background-image: url(" ../images/cuisine.jpg");
  background-attachment: fixed;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -80px;
}
#header-contact-theme{
  height: 590px;
  background-image: url(" ../images/theme.jpg");
  background-attachment: fixed;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -80px;

}

#header-contact h1{
  margin-top: -130px;

}


.banner-header{
    color: white;
    text-align: center;
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 50px;
}


.content {
  /*position: relative;*/
  /*width: 33.33%;*/
  /*margin: auto;*/
  /*overflow: hidden;*/
  padding: 0px 10px;
}

.theme-card {
  margin-bottom: 10px;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  padding: inherit;
}
.content-overlay{
  padding: inherit;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}


#big-banner{
  width: 100vw;
}
.videoWrapper{
  width: 100%;
}
#myVideo{
  width: 100%;
}

.responsive {
    max-width: 100%;
    height: auto;
}