body{
  font-family: roboto;
}

/*banner*/
.banner{
  padding: 30px 0px;

}

#header-contact{
  height: 510px;
  background-image:  url("../images/pear/team-bonding-food.jpg");
  padding-bottom: 20px;
  background-color: rgba(32, 33, 33, 0.8);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  padding-top: 100px;
}
#header-contact h1{
  margin-top: -180px;

}


#big-banner p{
  color: white;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 80px;
  margin-top: -120px;
}

.cta-btn{
 margin: -100px auto;


}
.cta-btn-1{
  float: left;
  padding: 10px;
}
.cta-btn-2{
  float: right;
  padding: 10px;
}

/*button*/

/* Global Button Styles */
a.animated-button{
  z-index: 1;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2); */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 0px auto 0;
  padding: 14px 15px;
  color: #D24D57;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
    margin-left: 20px;
  /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2); */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-four {
  border: 2px solid #D24D57;
      background-color: #D24D57;
    color: white;
}
a.animated-button.victoria-four:after {
  background: white;
  color: #D24D57;
  opacity: .5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
  opacity: 0.3;
  height: 600% !important;
    background: white;
  color: #D24D57;
}



/*reviews*/
#reviews {
    height: 450px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: rgba(0,0,0,0.5);
  background-blend-mode: overlay;
    background-image:  url("../images/pear/corporate-events-review.jpg");

}
#reviews h1{

  text-align: center;
  font-weight: bold;
  color: white;
  padding: 50px;

}

.rbd-review-slider .rbd-preloader {
  width: 36px;
  height: auto;
  margin: 0 auto;
}

.rbd-review-slider .rbd-review.rbd-prev {
  transform: translate3d(-100px,0,-50px);
  display: none;

}

.rbd-review-slider .rbd-review.rbd-next {
  transform: translate3d(100px,0,-50px);
  display:none;
  margin-right: 0px;
}

.rbd-review-slider .rbd-review.rbd-curr {
  transform: translate3d(0,0,0) scale(1);
  opacity: 1;
  display: inline-block;
}

.rbd-review-slider .rbd-review {
  padding: 20px 30px;
  font-size: 18px;
  line-height: 1.612;
  box-shadow: 0 10px 30px -8px rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  transition: opacity .35s ease-out, transform .35s ease-out;;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  background: #fff;
  width: 70%;
}

.rbd-review-slider .rbd-review.rbd-first {
  display: block;
}

.rbd-review-slider .rbd-heading {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
    font-weight: bold;
}

.rbd-review-slider svg {
  fill: #ffbb58;
  width: 24px;
  margin-right: 1px;
}

.rbd-review-slider .rbd-review-meta {
  font-size: 12px;
  color: #565656;
  margin-top: 12px;
  text-align: center;
}

.rbd-review-slider .rbd-gravatar {
  border-radius: 100%;
  width: 100px;
  float: left;
  margin-right: 15px;
  border: 6px solid transparent;
  box-shadow: 0 3px 12px -2px rgba(0,0,0,.35);
}



@keyframes round{
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
}

@media only screen and (max-width: 1000px){
  #reviews{
    height: 530px;
  }
}
.rbd-review-slider .rbd-review.rbd-prev {
  transform: translate3d(-100px,0,-50px);
  display: none;

}

.rbd-review-slider .rbd-review.rbd-next {
  transform: translate3d(100px,0,-50px);
  display:none;
  margin-right: 0px;
}

.rbd-review-slider .rbd-review.rbd-curr {
  transform: translate3d(0,0,0) scale(1);
  opacity: 1;
  display: inline-block;}
}


/*biz-form*/
#form-biz{
    height: auto;
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
}



#booking-form {

    max-width: 50%;
  margin: 40px auto;
}
#booking-form ul {
  padding-left: 0;
}
#booking-form li {
  list-style: none;
}
#booking-form input,
#booking-form textarea,
#booking-form select {
       font-size: 16px;
    padding: 0 28px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(233,233,233);
    text-align: left;
    border-radius: 35px;
    color: grey;
    letter-spacing: normal;
    height: 50px;
    background: #fff;
    margin-bottom: 30px;
}
#booking-form select {
    background: url('https://seashineadventures.com/wp-content/uploads/2017/08/grey-chevron.png') no-repeat;
    -webkit-appearance: none;
    appearance: none;
    background-size: 15px;
    background-position: 97% 50%;

}
#booking-form textarea {
    height: 120px;
    line-height: 1.5;
    padding: 15px 28px;
}
#booking-form input:focus,
#booking-form textarea:focus,
#booking-form select:focus {
    outline: 0;
    border: 1px solid rgb(211,211,211);
}
#booking-form label {
     font-size: 20px;
    /* font-weight: 300; */
    display: block;
    margin-bottom: 10px;
    font-family: roboto;
    padding-bottom: 10px;
}

/* Buttons */
#booking-form .next-btn,
#booking-form .submit-btn {
    background: #D24D57;
    padding: 13px 20px;
    color: #fff;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    border-radius: 0;
    border: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    width: 100%;
    cursor: pointer;
}

#booking-form .next-btn:hover,
#booking-form .submit-btn:hover {
    background-color: #444b5d;
    color: #fff;
}

/* Progress Bar */
.progress-wrap {
    margin: auto;
    display: table;
    padding: 20px;
    min-width: 100px;
}
.line-progress-bar {
    display: flex;
    margin: auto;
    min-width: 100px;
    width: 100%;
}
.line {
    height: 1px;
    width: 100px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(217, 217, 217);
    position: absolute;
    margin-top: 8px;
    min-width: 100px;
}
.progress-wrap div ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: initial;
    justify-content: space-between;
    z-index: 1;
    min-width: 100px;
}
.progressbar-dots {
    display: inline-flex;
    border: #949494 solid 4px;
    background: #333333;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #d4d4d4;
    font-size: 20px;
    margin-left: 0px;
    color: #d4d4d4;
    border: 0px solid rgb(217,217,217);
    background: rgb(217, 217, 217);
}
.progressbar-dots span {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    margin-top: 60px;
    /* width: 75px; */
    float: left;
    margin-left: -30px;
    display: none;
}
.progressbar-dots.active {
    color: #fff;
    border: 0px solid rgb(38,163,134);
    background: #ffcc00;
}

/*  Tab */
.tab-pane {
    display: none;
}
.tab-pane:first-child {
  display: block;
}

/* Error */
span.error {
  font-size: 12px;
  font-family: "helvetica neue", arial, sans-serif;
  color: #D6041D;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

/*date*/

.date-picker {
  /* margin: 200px auto; */
}

.date-picker {
  width: 100%;
  height: auto;
  max-height: 50px;
  background: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s 0s ease-in-out;
  margin-bottom: 20px;
}
.date-picker .input {
  width: 100%;
  height: 50px;
  font-size: 0;
  cursor: pointer;

}
.date-picker .input .result, .date-picker .input button {
  display: inline-block;
  vertical-align: top;
  border:1px solid rgb(233,233,233);
  border-radius: 35px;
}
.date-picker .input .result {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 10px;
  color: grey;
  box-sizing: border-box;
    padding: 0 28px;
}
.date-picker .input button {
  width: 50px;
  height: 50px;
  background-color: #8392A7;
  color: white;
  line-height: 50px;
  border: 0;
  font-size: 18px;
  padding: 0;
}
.date-picker .input button:hover {
  background-color: #68768A;
}
.date-picker .input button:focus {
  outline: 0;
}
.date-picker .calendar {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
}
.date-picker .ui-datepicker-inline {
  position: relative;
  width: 100%;
}
.date-picker .ui-datepicker-header {
  height: 100%;
  line-height: 50px;
  background: #8392A7;
  color: #fff;
  margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.date-picker .ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.date-picker .ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.date-picker .ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
  border-color: #68768A;
}
.date-picker .ui-datepicker-title {
  text-align: center;
}
.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: #8392A7;
  margin-bottom: 5px;
  font-size: 13px;
}
.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 40px;
  font-size: 12px;
}
.date-picker .ui-state-default:hover {
  background: rgba(0, 0, 0, 0.02);
}
.date-picker .ui-state-highlight {
  color: #68768A;
}
.date-picker .ui-state-active {
  color: #68768A;
  background-color: rgba(131, 146, 167, 0.12);
  font-weight: 600;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}
.date-picker.open {
  max-height: 400px;
  width: 100%;
}
.date-picker.open .input button {
  background: #68768A;
}

#booking-form h4{
  text-align: center;
}


@media only screen and (max-width: 600px){
  .cta-btn {
    margin: -50px auto;
}
 #reviews{
    height: 600px;
  }

#reviews h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 30px;
    font-size: 35px;
}
.rbd-review-slider .rbd-review {
    padding: 20px 30px;
    font-size: 18px;
    line-height: 1.612;
    box-shadow: 0 10px 30px -8px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    transition: opacity .35s ease-out, transform .35s ease-out;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
    background: #fff;
    width: 80%;
}
#booking-form {
    max-width: 80%;
    margin: 40px auto;
}
}

@media only screen and (max-width: 400px){
   #reviews{
    height: 800px;
  }
  #booking-form {
    max-width: 80%;
    margin: 40px auto;
}
}
