

.banner-title{
  text-align: center;
  margin: 50px auto;
  font-weight: bold;
}

.banner-description{
  width: 100%;
  text-align:center;
}

.banner-title-contact-details{
  text-align: center;
  font-weight: bold;
}
