 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon"
      type="image/ico"
      href="favicon.ico">
    <meta charset="utf-8">
    <title>About Us - Wok the Fork - Singapore Food Tour</title>
    <meta name="description" content="We are keen followers of Singapore food, and ready to bring you around the town to tickle your taste buds with local foods!" />
    <meta name="keywords" content="wokthefork, food tour singapore, food tour, singapore food tour, food, tour" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128564521-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128564521-1');
    </script>

    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Font Awesome Optional theme -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/animate.css" />
     <link rel="stylesheet" type="text/css" href="./css/template.css" />
      <link rel="stylesheet" type="text/css" href="./css/menu.css" />
      <link rel="stylesheet" type="text/css" href="./css/button.css" />
    <link rel="stylesheet" type="text/css" href="./css/about.css" />
    <link rel="stylesheet" type="text/css" href="./css/headers.css" />
    <link rel="stylesheet" type="text/css" href="./css/team.css" />
  </head>
  <body>
    <!-- nav -->
    <header class="main_h">

        <div class="header-row">
            <a href="index.html" title="Wok the Fork - Singapore Food Tour"><h1 class="logo">Wok the Fork - Singapore Food Tour</h1></a>
            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <ul>
                    <li><a class="nav-link" href="index.html">Home</a></li>
                    <li><a class="nav-link" href="cuisine.html" >
                      Cuisines
                    </a>
                    </li>
                    <li><a class="nav-link" href="theme.html">Themes</a></li>
                    <li id="current-page"><a class="nav-link" href="about.html">About Us</a></li>
                    <li><a class="nav-link" href="blog.html">Blog</a></li>
                    <li>
                      <a class="nav-link" href="events.html">Corporate Events</a>
                    </li>
                    <li>
                      <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    <li>
                      <a class="nav-link" href="cart.html" id="cart-button">Cart</a>
                    </li>
                </ul>
            </nav>

        </div> <!-- / row -->

    </header>
    <div class="container-fluid">

      <!-- banner -->
      <div class="row" id="header-contact">
        <h1 class="about-header">Experience Exploding Shiokness</h1>
        <h4>that makes you go WTF, the good way</h4>
      </div>

  <!-- cards -->
  <div class="wrapper">
      <h1 class="banner-title">Why Us</h1>
      <div class="row" id="cards">
        <div class="col-md-4">

          <img class="mx-auto hvr-bounce-in" title="Small Groups of 12 Pax" alt="Small Groups of 12 Pax" src="images/pear/small-groups-eating.jpg">
          <h2 class="about-why-name">Small Groups of 12 Pax</h2>
          <p class="tour-basic-description">Every tour is no bigger than 12 pax. Our friendly guides want to get to know you too. We will cater to your every need.</p>
        </div>

        <div class="col-md-4">
          <img class="mx-auto hvr-bounce-in" title="Value for Money" alt="Value for Money" src="images/pear/hawker-food-variety.png">
          <h2 class="about-why-name">Value for Money</h2>
          <p class="tour-basic-description">Experience at least 9 variety of dishes for any tour selected.
          We guarantee quality and variety at the lowest price. </p>
        </div>

        <div class="col-md-4">
          <img class="mx-auto hvr-bounce-in" title="Eat the way Locals do" alt="Eat the way Locals do" src="images/pear/happy-local-eating.jpg">
          <h2 class="about-why-name">Eat the way Locals do</h2>
          <p class="tour-basic-description">No one explains it better than the locals. Our local guides will satisfy your hunger for cultural tidbits.</p>
        </div>
      </div>
</div>

      <!-- counter -->
      <div id="counter" class="wrapper-counter">
        <div class="row ">
          <div class="col-md-3">
            <img title="Tours Conducted" alt="Tours Conducted" src="images/pear/tours.png">
            <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
            <p class="count-text ">Tours Conducted</p>
          </div>

          <div class="col-md-3">
            <img title="Km Travelled" alt="Km Travelled" src="images/pear/distance.png">
            <h2 class="timer count-title count-number" data-to="50700" data-speed="1500"></h2>
            <p class="count-text ">KM Travelled</p>
          </div>

           <div class="col-md-3">
            <img title="Hashtags on Instagram"  alt="Hashtags on Instagram" src="images/pear/hashtag.png">
            <h2 class="timer count-title count-number" data-to="1100" data-speed="1500"></h2>
            <p class="count-text ">Hashtags on Instagram</p>
          </div>

          <div class="col-md-3">
            <img title="Nationalities Participated" alt="Nationalities Participated" src="images/pear/nationalities.png">
            <h2 class="timer count-title count-number" data-to="57" data-speed="1500"></h2>
            <p class="count-text ">Nationalities Participated</p>
          </div>
        </div>
      </div>

      <!-- team -->
    <div :class="['container-team', isSelected ? 'container-selected':'', isReady ? 'container-ready':'']" id="app">
  <div class="team-container">
    <div class="header">
      <h1 class="banner-title">Our Guides</h1>
    </div>
    <div class="person-list">
      <div class="person" v-for="(person,index) in persons" @click="selectPerson(index,$event)"><img class="person-img" :src="person.photo">
        <div class="person-details">
          <h2 class="person-title">{{person.name}}</h2>
          <p class="person-desc">{{person.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="team-detail">
    <div class="team-detail-inner" v-if="isOk">
      <div class="team-detail-left" :style=`background-image:url(${selectedPersonData.photo})`>
        <div class="team-detail-photo"><img :src="selectedPersonData.photo" alt="Personal Data Photo">
        </div>
      </div>
      <div class="team-detail-right">
        <div class="team-detail-bio">
          <div class="team-detail-header">
            <h2 class="person-title">{{selectedPersonData.name}}</h2>
            <p class="person-desc">{{selectedPersonData.title}}</p>
            <div class="social">
              <a :href="selectedPersonData.social.facebook" target="_blank" class="ion-social-facebook"></a>
              <a :href="selectedPersonData.social.twitter" target="_blank" class="ion-social-twitter"></a>
              <a href="selectedPersonData.social.linkedin" target="_blank" class="ion-social-linkedin"></a>
            </div>
          </div>
          <div class="team-detail-bio-content" v-html="selectedPersonData.bio">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img title="Wok The Fork Logo"  alt="Wok The Fork Logo" class="footer-logo" src="./images/logo.png" />
          </div>
          <div class="col-lg-3 col-md-12">
            <ul>
              <li class="footer-header">
                Company
              </li>
              <li class="footer-link">
                <a href="about.html">About Us</a>
              </li>
              <li class="footer-link">
                <a href="blog.html">Blog</a>
              </li>
              <li class="footer-link">
                <a href="faq.html">FAQ</a>
              </li>
              <li class="footer-link">
                <a href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12">
            <ul>
              <li class="footer-header">
                Food Tours
              </li>
              <li class="footer-link">
                <a href="cuisine.html">Cuisines</a>
              </li>
              <li class="footer-link">
                <a href="theme.html">Themes</a>
              </li>
              <li class="footer-link">
                <a href="events.html">Corporate Events</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12">
            <ul>
              <li class="footer-header">
                Find Us
              </li>
              <li>
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="col-10">
                    School of Electrical and Electronic Engineering<br />50 Nanyang Ave<br />Singapore 639798
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-phone"></i>
                  </div>
                  <div class="col-10">
                    (65)1234 5678
                  </div>
                </div>

              </li>
              <li>
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="col-10">
                    support@wokthefork.com
                  </div>
                </div>

              </li>
            </ul>
          </div>


        </div>
        <div class="row">
          <div class="col-md-3">
            <center>
              <a href="https://www.facebook.com/wokthefork" target="_blank"><i class="footer-social-media-icon fab fa-facebook "></i></a><a href="https://www.instagram.com/wokthefork/" target="_blank"><i class="footer-social-media-icon fab fa-instagram"></i></a><i class="footer-social-media-icon fab fa-twitter"></i>
            </center>

          </div>
        </div>
      </div>


    </footer>
    <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="293996198110642"
  theme_color="#d24d57"
  logged_in_greeting="Hi! How can we help you?"
  logged_out_greeting="Hi! How can we help you?">
</div>

    <!-- scripts -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="./js/menu.js"></script>
    <script src="./js/jquery.inview.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/disclaimer.js"></script>
    <script src="./js/team.js"></script>




  </body>
</html>
